<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample1"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <activity
          android:noHistory="true"
          android:name=".share.ShareActivity"
          android:configChanges="orientation"
          android:label="@string/title_activity_share"
          android:screenOrientation="portrait"
          android:theme="@style/Theme.Share.Transparent" >
         <intent-filter>
           <action android:name="android.intent.action.SEND" />
           <action android:name="android.intent.action.SEND_MULTIPLE" />
           <category android:name="android.intent.category.DEFAULT" />
           //  for sharing links include
            <data android:mimeType="text/plain" />
           //  for sharing photos include
           <data android:mimeType="image/*" />
           //  for sharing videos include
           <data android:mimeType="video/*"/>
           //  for sharing audio include
           <data android:mimeType="audio/*"/>
         </intent-filter>
      </activity>
    </application>

</manifest>
